<div class="slide">
  <h2 class="slide-title">Content</h2>
  <div class="slide-body">
    <h4>Mixed direction:</h4>
    <div class="row">
      <div class="six columns">Hello, my name is &lcub;&lcub;username&rcub;&rcub;, glad to meet you.</div>
      <div class="six columns"><p dir="rtl" style="text-align: right;">Hello, my name is <b style="color: #b7360b;">Samy</b>, glad to meet you.</p></div>
    </div>
    <div class="row">
      <div class="six columns">set(this, 'username', 'سامي')</div>
      <div class="six columns"><p dir="rtl" style="text-align: right;">Hello, my name is <b style="color: #b7360b;">سامي</b>, glad to meet you.</p></div>
    </div>
    <div class="row">
      <div class="six columns">Hello, my name is &lt;bdi&gt;&lcub;&lcub;username&rcub;&rcub;&lt;/bdi&gt;, glad to meet you.</div>
      <div class="six columns"><p dir="rtl" style="text-align: right;">Hello, my name is <b style="color: #b7360b;"><bdi>سامي</bdi></b>, glad to meet you.</p></div>
    </div>
  </div>
</div>