<div class="slide">
  <h2 class="slide-title">Outline</h2>
  <div class="slide-body">
    <ul>
      <li>What is Right-to-Left (RTL)</li>
      <li>Aspects of handling RTL content on the web</li>
      <ul>
        <li>Layout</li>
        <li>Content</li>
        <li>User input</li>
      </ul>
      <li>Handling RTL in Ember</li>
    </ul>
  </div>
</div>