<div class="slide">
  <h2 class="slide-title">Grid level</h2>
  <div class="slide-body">
    <div class="six columns"><img src="assets/original.jpg" alt=""></div>
    <div class="six columns"><img src="assets/app.jpg" alt=""></div>
  </div>
</div>