<div class="slide">
  <h2 class="slide-title">Layout</h2>
  <div class="slide-body">
    <h4>Layout change might necessary to maintain the visual hierarchy</h4>
    <h3>Change can be at:</h3>
    <ul>
      <li>Grid (App) level</li>
      <li>Component level</li>
    </ul>
  </div>
</div>