<div class="slide">
  <h2 class="slide-title">Content</h2>
  <div class="slide-body">
    <h3>Uniform direction:</h3>
    <pre class="six columns">.rtl {
  text-align: right;
  direction: rtl;
  font-family: Noto Kufi Arabic, serif;
}
&lt;p class=”rtl”&gt;
السلام عليكم ، ملتقى إيمبر الدولي
&lt;/p&gt;
&lt;p&gt;Greetings, Ember Global Meetup&lt;/p&gt;
    </pre>
    <div class="six columns">
      <p class="rtl">السلام عليكم ، ملتقى إيمبر الدولي</p>
      <p>Greetings, Ember Global Meetup</p>
    </div>
  </div>
</div>