<div class="slide">
  <h2 class="slide-title">User Input</h2>
  <div class="slide-body">
    <h3>Accommodate RTL Input</h3>
    <div class="row">
      <div class="six columns">
        <ul>
          <li> Rich text input (WYSIWYG)</li>
          <ul>
            <li>CKEditor</li>
            <li>tinyMCE</li>
          </ul>
          <li>Basic HTML text input</li>
          <ul>
            <li>Detect direction of the string and apply it to the control</li>
            <li>Modules like "string-direction" can help</li>
          </ul>
        </ul>
      </div>
      <div class="six columns">
        <img src="assets/ckeditor.png" alt="">
      </div>
    </div>
  </div>
</div>