<div class="slide">
  <h2 class="slide-title">What is Right-to-left (RTL)</h2>
  <div class="slide-body">
    <ul class="six columns">
      <li>Script vs Language</li>
      <li>RTL scripts flow starts from the right and continues to the left</li>
      <li>Languages that use RTL scripts include Arabic, Hebrew, Persian and Urdu.</li>
    </ul>
    <div class="six columns">
      <img src="assets/rtl.gif" alt="">
    </div>
  </div>
</div>