<div class="slide">
  <h2 class="slide-title">Content</h2>
  <div class="slide-body">
    <h4>Mixed direction:</h4>
    <h5>We can instruct the bidirectional algorithm to isolate content using:</h5>
      <div class="six columns">
        <ul>
          <li>dir=”auto” attribute</li>
          <li>&lt;bdi&gt;&lt;/bdi&gt;</li>
          <li>{ unicode-bidi: isolate }</li>
        </ul>
      </div>
  </div>
</div>