<div class="slide">
  <h2 class="slide-title">What is Right-to-left (RTL)</h2>
  <div class="slide-body">
    <ul class="six columns" style="font-size: 2.3vw;">
      <li>Handling RTL is part of Internationalization</li>
      <li>Effetcs other aspects of development</li>
      <li>~300 Million potential users</li>
    </ul>
    <div class="six columns">
      <img src="assets/Arabic_alphabet_world_distribution.png" alt="">
      <cite style="font-size: 1vw;">https://en.wikipedia.org/wiki/Arabic_alphabet#/media/File:Arabic_alphabet_world_distribution.png</cite>
    </div>
  </div>
</div>